@use "sass:map";

* {
	box-sizing: border-box;
}

ul,
ol {
  margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}


*::-webkit-scrollbar {
	width: 8px;     /* Tamaño del scroll en vertical */
	height: 8px;    /* Tamaño del scroll en horizontal */
}

*::-webkit-scrollbar-thumb {
	background: rgb(204, 204, 204);
	border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
	background: rgb(179, 179, 179);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
	background-color: rgb(153, 153, 153);
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
*::-webkit-scrollbar-track {
	background: rgb(224, 224, 224);
	border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
background: rgb(212, 212, 212);
}